@using SellIt.Areas.ViewModel
@model IEnumerable<AllUsersViewModel>

@foreach (var item in Model)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">User</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@item.UserName</td>
            <td><a asp-action="UserById" asp-controller="User" class="btn btn-dark" asp-route-UserId="@item.UserId">View</a></td>
            <td><a asp-action="DeleteUser" asp-controller="User" class="btn btn-danger" asp-route-UserId="@item.UserId">Delete</a></td>
            </tr>
        </tbody>
    </table>
}