
@if (User.IsInRole("Administrator"))
{
    <div>
        <div>
            <a class="navbar-brand" asp-action="CreateCategory" asp-controller="Category" class="btn btn-outline-success">Create Category</a>
        </div>
        <div>
            <a class="navbar-brand" asp-action="AddProduct" asp-controller="Product" class="btn btn-outline-success">Create Product</a>
        </div>
        <div>
            <a class="navbar-brand" asp-action="MyProducts" asp-controller="Product" class="btn btn-outline-success">My Products</a>
        </div>

        <div>
            <a class="navbar-brand" asp-action="GetAllProductsForAproove" asp-controller="ForAprooved" class="btn btn-outline-success">All Products For Aproove</a>
        </div>
        <div>
            <a class="navbar-brand" asp-action="AllProducts" asp-controller="Product" class="btn btn-outline-success">All Products</a>

        </div>
    </div>
}
