<a class="navbar-brand" asp-action="CreateCategory" asp-controller="Category" class="btn btn-outline-success">Create Category</a>
<a class="navbar-brand" asp-action="AddProduct" asp-controller="Product" class="btn btn-outline-success">Create Product</a>
<a class="navbar-brand" asp-action="AllProducts" asp-controller="ForAprooved" class="btn btn-outline-success">All Products</a>