@using SellIt.Core.ViewModels.Messages
@model IEnumerable<AllProductMessagesViewModel>

@foreach (var item in Model)
{


    <a asp-action="GetProductMessageById" asp-controller="Message" asp-route-id="@item.Id" class="btn btn-app bg-warning">
        <span class="badge bg-info">@item.ReplyMessages.Count()</span>
        <i class="fas fa-envelope"></i> @item.UserName
    </a>
}
