@using SellIt.Core.ViewModels.Product
@model ProductViewModel

<div class="col-10">
    <div>
        <form method="post" enctype="multipart/form-data">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="GalleryFiles"></label>
                    <input asp-for="GalleryFiles" class="form-control" />
                    <span asp-validation-for="GalleryFiles" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <label asp-for="CategoryName"></label>
                <select class="form-control text-primary" id="categories" asp-for="CategoryName">
                    <option selected disabled><------></></option>
                    @foreach (var category in (IEnumerable<ProductViewModel>)this.ViewData["categories"])
                    {
                        <option value="@category.CategoryName">@category.CategoryName</option>
                    }
                </select>
                <div class="form-group">
                    <label asp-for="Price"></label>
                    <input asp-for="Price" class="form-control" />
                </div>
        </form>
        <div />
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary font-weight-bold">Create Product</button>
        </div>
    </div>
</div>
