@using SellIt.Core.ViewModels.Product
@model AddProductViewModel

<div class="col-10">
    <div>
        <form method="post" enctype="multipart/form-data">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <input asp-for="Description" class="form-control" />
                </div>
                <div class="form-group mx-auto w-45">
                    <div class="d-flex justify-content-center">
                        <label asp-for="Image" class="text-primary h5">Picture</label>
                    </div>
                    <input type="file"
                           class="form-control text-primary text-center"
                           id="picture"
                           placeholder="Picture..."
                           asp-for="Image">
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <label asp-for="CategoryName"></label>
                <select class="form-control text-primary" id="categories" asp-for="CategoryName">
                    <option selected disabled><------></></option>
                    @foreach (var category in (IEnumerable<AddProductViewModel>)this.ViewData["categories"])
                    {
                        <option value="@category.CategoryName">@category.CategoryName</option>
                    }
                </select>
        </form>
        <div/>
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary font-weight-bold">Create Product</button>
        </div>
    </div>
</div>
